
.navbar{
    position:sticky;
    top: 0;
}

.main_page{

    background-image: url("https://img.freepik.com/free-vector/social-media-icons-background_23-2147511281.jpg?w=2000");
    background-size: cover;
    height: 100vh;
    
    
}
.sub_page{
    background-image: url("https://i.pinimg.com/736x/90/7d/8f/907d8f73d81f69b4f19756ef99c1b24f.jpg");
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 30px;
    background-size: cover;
    background-clip:content-box;
    border:solid 23px rgb(202, 50, 205);
    filter:drop-shadow(16px 16px rgb(255, 196, 0));
    box-shadow: 18px 18px 6px rgb(39, 19, 214);
    
    
}
.heading{
    color:brown;
    font-weight: bold;
    font-style: italic;
}
.input1{
    margin-bottom: 6px;
    border-radius: 20px;
}

.input2{
    margin-bottom: 6px;
    border-radius: 20px;
}
.button1{
    border:solid 2px yellow;
    border-radius: 15px;
    font-weight: bold;
}
.button2{
    border:solid 2px yellow;
    border-radius: 15px;
    margin-bottom: 20px;
    font-weight: bold;
}
.under{
    color:bisque;
}
h6{
    color:blueviolet;
}
.para{
    background-color: brown;
    color: beige;
    font-weight: 900;
    font-family: "roboto";
}




